extends layout.pug
block content
  +navigation
  body.text-center
    .container.mt-5.text-left
      h1 Admin route
      .my-5
        h3 Registered users
        ul.list-group
          each user in confirmedUsers
            li.list-group-item.bg-success.text-white
              = user.email
              
      

      .my-5
        h3 Unregistered users
        ul.list-group
          each user in unconfirmedUsers
            li.list-group-item.bg-danger.text-white
              = user.email
              
              a.ml-3.btn.btn-outline-light.btn-sm(href='/users/verify/'+user.uuid) Verify
              
              
              
    
