extends layout.pug
block content
  +navigation
  .container.mt-5.text-left
    .row
      .col-md-8
        h2 Contacts route
        +contacslist

      .col-md-4
        form.form-signin(method='POST', action='/admin/stories?alert=create')
          h2 Create a new Story
          
          .mb-3
            label.sr-only(for='inputName') Name
            input#inputName.form-control(name='name', type='text', placeholder='Name', required='', autofocus='')
            
          .mb-3
            label.sr-only(for='inputContent') Content
            textarea#inputContent.form-control(name='content', type='password', placeholder='Content', required='')
          .mb-3
            label.sr-only(for='inputContent') Order
            input#inputOrder.form-control(name='order', type='number', placeholder='Order', required='', autofocus='')

          each category in categories
            span.mr-3
              input(type="checkbox", name=`categories[]`, value=category._id, id=category._id)
              label(for=category._id)=category.name
            
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Create
