extends layout.pug
block content
  +navigation
  each course in courses
    if course.type == "oneyear"
      +oneyear
    //else if course.type == "orientation"
      +orientation
    //else if course.type == "coaching"
      +coaching