extends layout.pug
block content
  +navigation
  .row
    .offset-md-4.col-md-3
      ul.list-group.text-center
        each course in courses
          li.list-group-item
            a(href='/courses/'+course.name)=course.name
