extends layout.pug
block content
  +navigation
  .section
    +video
    +jumbotron
    +ourCoursesSection
    +testimonialsDevugees
    +statsCounter
    +quote
    +upcomingEvents
    +partners
    +contactform
    +footer
    //+storylist(true)
