extends layout.pug
block content
  +navigation
  .section
    +jumbotron
  .section
    +testimonialsCourses
  .section
    +testimonialsDevugees
  .section
    +statsCounter
  .section
    +quote
  .section
    +partners
  .section
    +subscribe
  .section
    +footer
    //+storylist(true)
  
  style.
    .section {
      margin: 0 0 200px 0;
    }
    
  
