extends layout.pug
block content
  +navigation
  .section
    +jumbotron
  .section
    +testimonialsCourses
  .section
    +testimonialsDevugees
  .section
    +statsCounter
  .section
    +quote
  .section
    +partners
  .section
    +subscribe
    +contactform
  .section
    +footer
    //+storylist(true)
