include mixins/navigation
include mixins/jumbotron
include mixins/testimonialsCourses
include mixins/testimonialsDevugees
include mixins/statsCounter
include mixins/quote
include mixins/partners
include mixins/subscribe
include mixins/footer
include mixins/postlist
include mixins/contactform
include mixins/courses/oneyear
include mixins/courses/coaching
include mixins/courses/orientation



doctype html
//saved from url=(0051)https://getbootstrap.com/docs/4.0/examples/sign-in/
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Signin Template for Bootstrap
    link(rel='stylesheet', href='/assets/bootstrap/dist/css/bootstrap.min.css')
    <link rel="stylesheet" href="/assets/@fortawesome/fontawesome-free/css/fontawesome.min.css">
    link(rel="stylesheet", href="/assets/styles.css")
    // Custom styles for this template

  

  body
    if message
      .alert.alert-dismissible.fade.show(role='alert', class=color, style="z-index: 1")
        strong= message
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×

    block content


    script(src='/assets/jquery/dist/jquery.slim.min.js')
    script(src='/assets/popper.js/dist/umd/popper.min.js')
    script(src='/assets/bootstrap/dist/js/bootstrap.min.js')
