extends layout.pug
block content
  +navigation
  .container.mt-5.text-left
    h1 Post route

    span.mr-3="name:" + post.name
    span.mr-3="content:" + post.content
    span.mr-3="order:" + post.order
      
    a(href="/posts") Back
  
