extends layout.pug
block content
  +navigation
  .container.mt-5.text-left
          
    .row
      .col

        | {{#if user}}
        .alert.alert-danger Username has taken already try new
        | {{/if}} {{#if mail}}
        .alert.alert-danger Email has taken already try new
        | {{/if}} {{#if errors}} {{#each errors}}
        .alert.alert-danger {{msg}}
        | {{/each}} {{/if}}
        form(method='post' action='/users/register')
          .form-group
            label Name
            input.form-control(type='text' placeholder='Name' name='name')
          .form-group
            label Username
            input.form-control(type='text' placeholder='Username' name='username')
          .form-group
            label Email
            input.form-control(type='email' placeholder='Email' name='email')
          .form-group
            label Password
            input.form-control(type='password' placeholder='Password' name='password')
          .form-group
            label Confirm Password
            input.form-control(type='password' placeholder='Password' name='password2')
          button.btn.btn-default(type='submit') Submit
