.cf-section {
  padding: 3rem 0;
}
.cf-title {
  text-align: center;
  margin-bottom: 3rem;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

div.contactForm {
  margin: 0;
  padding: 0;
}

div.contactForm .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

form.contactForm-form {
  letter-spacing: initial;
  font-weight: initial;
  text-transform: initial;
  font-size: initial;
}
div.contactForm {
  margin: 0;
  padding: 0;
}
form {
  display: block;
  margin-top: 0em;
}
form.contactForm-form input {
  margin-bottom: 1.5rem;
}
.fluid-item {
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.fluid-item > *:not(:last-child) {
  margin-right: 1rem;
}
.contactForm-form-control-wrap {
  position: relative;
}
.m-b-10 {
  margin-bottom: 10px;
}
textarea {
  min-height: 100px;
  resize: vertical;
}
div.contactForm-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #f00;
}
.contactForm-display-none {
  display: none;
}
.btn.btn-wide {
  width: 100%;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  background-color: white;
  color: #222;
  border: 2px solid #d9d9d9;
  box-shadow: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  outline: none;
  box-sizing: border-box;
  height: 42px;
}
