/******************************************
////////////////////////////////////////// 
FOOTER STYLING
//////////////////////////////////////////
*******************************************/

.site-footer {
  margin-top: 3rem;
  color: #555;
  font-size: 0.9rem;
}
.footer-suf {
  background-color: #f3f3f3;
  padding: 1.25rem 0 1rem;
}
