html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
}

.section {
  text-align: center;
}

/******************************************
  JUMBOTRON
*******************************************/
.jumbotron {
  width: 100%;
  text-align: center;
}
