html {
  scroll-behavior: smooth;
}

.btn {
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  border-width: 3px;
  line-height: 1.5;
  background-color: #007aff;
  border-color: #007aff;
  color: white;
  line-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
}
section {
  display: block;
}
.section-button-wrap {
  text-align: center;
  margin-top: 40px;
  display: block;
}
.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}
.container::after {
  display: table;
  clear: both;
  content: "";
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #333;
  text-decoration: none;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 0;
  color: #333;
}
h5 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}
