/******************************************
        JUMBOTRON SECTION
*******************************************/
.jumbotron-courses {
  text-align: center;
  position: absolute;
  min-width: 30%;
  top: 20%;
  height: 500px;
  background: rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
}
.jumbotron-header {
  color: white;
  margin-bottom: 100px;
}
.paragraph-jumbotron {
  margin-bottom: 100px;
}
a:active,
a:focus,
a:hover {
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #222;
  text-decoration: underline;
}
