.section-partners {
  padding: 4rem 0;
}

.partners-wrap {
  text-align: center;
}
.partners-logo {
  display: inline-block;
  margin: 0 1rem;
  width: 150px;
  height: 42px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
