.section-mission {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  padding: 6rem 3rem;
}

.mission-title {
  color: #007aff;
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
}

.mission-title::before,
.mission-title::after {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(https://png.pngtree.com/svg/20170529/ic_zixun_quote_1245666.png);
  background-size: cover;
  display: block;
  opacity: 0.25;
  margin: 0 auto 1rem;
}

.mission-title::after {
  transform: rotateY(180deg);
  margin-top: 1.5rem;
  margin-bottom: 0;
}
