.counter-item {
  text-align: center;
}

.section-counter {
  padding: 3rem 0;
}
.counter-item .counter-number {
  font-size: 5rem;
  font-weight: 400;
  color: #007aff;
  line-height: 1;
}
.counter-item .counter-title {
  font-size: 1.2rem;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}
.row {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}
