/******************************************
////////////////////////////////////////// 
 ONE YEAR COURSE STYLING
//////////////////////////////////////////
*******************************************/
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}

/******************************************
  JUMBOTRON COURSES PAGES
*******************************************/
.jumbotron-pages {
  text-align: center;
}
/******************************************
  SUB-CONTAINER WITH SCROLLSPY AND SECTIONS
*******************************************/
.container-fluid-courses {
  width: 66%;
}
.col-sm-9 {
  padding-left: 45px;
}

/******************************************
  SCROLLSPY
*******************************************/

ul.nav-courses-pills {
  padding-top: 0;
  position: fixed;
  list-style: none;
}

/******************************************
  ALL SECTIONS
*******************************************/
.courses-sections {
  margin-bottom: 100px;
}

/******************************************
  WHAT YOU WILL LEARN
*******************************************/

.whatYouWillLearn-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  margin: 2rem 0;
}

/******************************************
  A DAY AT DCI  
*******************************************/
.courseTimes-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  padding-bottom: 2rem;
  position: relative;
}

.courseTimes-itemTime {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #007aff;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 70px;
  display: block;
  position: relative;
  margin-right: 1.5rem;
}

.courseTimes-item:not(:last-child):before {
  content: "";
  height: 100%;
  width: 4px;
  background: #007aff;
  position: absolute;
  left: 33px;
  top: 0;
}

/******************************************
  HOW TO APPLY  
*******************************************/
.courseApply {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  margin-top: 2rem;
}

.courseApply-step {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-right: 1rem;
  position: relative;
}

.courseApply-stepCount {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #007aff;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  margin-bottom: 1rem;
  display: block;
  position: relative;
}
.courseApply-step:not(:last-child):before {
  content: "";
  background: #007aff;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.site-info {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

.info {
  list-style-type: none;
  padding: 0;
}
