/******************************************
        VIDEO SECTION
*******************************************/
video {
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
  filter: grayscale(43%) sepia(84%) brightness(54%) hue-rotate(170deg)
    saturate(131%) opacity(87%) contrast(90%);
  -webkit-filter: grayscale(43%) sepia(84%) brightness(54%) hue-rotate(170deg)
    saturate(131%) opacity(87%) contrast(90%);
  -moz-filter: grayscale(43%) sepia(84%) brightness(54%) hue-rotate(170deg)
    saturate(131%) opacity(87%) contrast(90%);
}
