mixin contactform
  .my-5.px-5
    .mb-5.px-md-5
      h1 Contact
      form(method="post" action="/contact")
        .row
          .col-md-6.mb-3
            label(for='name') Name
            input#name.form-control(name="name" type='text', placeholder='', value='', required='')
            .invalid-feedback
              | Valid first name is required.
          .col-md-6.mb-3
            label(for='email') Email
            span.text-muted (Optional)
            input#email.form-control(name="email" type='email', placeholder='you@example.com')
          .invalid-feedback
            | Please enter a valid email address for shipping updates.

        .mb-3
          label(for='body') Message
          textarea#body.form-control(name="body" placeholder='', value='', required='')
          .invalid-feedback
            | Valid last name is required.

          button.btn.btn-primary(type="submit") Send!
