mixin footer
  footer.site-footer(role='contentinfo')
  .site-info
    .container
      .row
        .col-lg-10.col-lg-offset-1
          .row
            .col-xs-6.col-md-3
              h5 Company
              .menu-company-container
                ul.menu-company
                  li.menu-item-302
                    a(href='https://digitalcareerinstitute.org/en/about-us/') About us
                  li.menu-item-301
                    a(href='https://digitalcareerinstitute.org/en/jobs/') Jobs
                  li.menu-item-300
                    a(href='https://digitalcareerinstitute.org/en/faq/') FAQ
                  li.menu-item-303
                    a(href='https://digitalcareerinstitute.org/en/press/') Press
                  li.menu-item-313
                    a(href='https://digitalcareerinstitute.org/contact/') Contact
            .col-xs-6.col-md-3
              h5 Community
              .menu-community-container
                ul.menu-community
                  li.menu-item-961
                    a(href='https://digitalcareerinstitute.org/en/scholarship/') Scholarship
                  li.menu-item-962
                    a(href='https://digitalcareerinstitute.org/en/hire/') Hire your digital talents with DCI
                  li.menu-item-965
                    a(href='https://digitalcareerinstitute.org/en/stories/') Stories
            .col-xs-6.col-md-3
              h5 Courses
              .menu-courses-container
                ul.menu-courses
                  li.menu-item-309
                    a(href='https://digitalcareerinstitute.org/en/onetoone-coaching/') One to One Coaching
                  li.menu-item-308
                    a(href='https://digitalcareerinstitute.org/en/orientiation-course/') Orientation Course
                  li.menu-item-307
                    a(href='https://digitalcareerinstitute.org/en/courses/one-year-program/') One Year Program
            .col-xs-6.col-md-3
              h5 Follow
              .menu-social-links-menue-container
                ul.menu-social-links-menue
                  li.menu-item-22
                    a(href='https://www.facebook.com/devugees') Facebook
                  li.menu-item-23
                    a(href='https://twitter.com/DevugeesOrg') Twitter
                  li.menu-item-21
                    a(href='https://medium.com/devugees') Medium
                  li.menu-item-24
                    a(href='https://www.youtube.com/channel/UCSM_3ldxjcclGTcXaJRBYTw') YouTube
  .footer-suf
    .container
      .row
        .col-lg-10.col-lg-offset-1
          p.last-line DCI Digital Career Institute
          ul.legal-links
            li.menu-item-310
              a(href='https://digitalcareerinstitute.org/en/disclaimer/') Disclaimer
            li.menu-item-311
              a(href='https://digitalcareerinstitute.org/en/imprint/') Imprint
            li.menu-item-1855
              a(href='https://digitalcareerinstitute.org/datenschutz/') Datenschutz
            li.menu-item-1909
              a(href='https://digitalcareerinstitute.org/en/data-privacy/') Data Privacy


  style.
    .site-footer {
      margin-top: 3rem;
      color: #555;
      font-size: 0.9rem;
    }
    .footer-suf {
      background-color: #f3f3f3;
    padding: 1.25rem 0 1rem;
    }
    