mixin jumbotron
 .jumbotron.jumbotron-fluid.text-center
  .container-fluid
    h1.display-4 Start your digital Career
    hr.my-4
    p.mb-5
      | Learn digital skills with us to get the most fulfilling jobs.
    p.lead
      a.btn.btn-primary.btn-lg.mr-2(href=domain+'contactform', role='button') Courses
      a.btn.btn-primary.btn-lg.ml-2(href=domain+'contactform', role='button') Contact

  style.
    .jumbotron {
    width: 100%;
    }
