mixin navigation
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    //-to deploy this app I needed a helper. In .env ive set "https://tmy.menkent.uberspace.de/ultrablog/" and pass this in index.js:14 as a template helper per res.locals.domain to use here absolute paths
    a.navbar-brand(href=domain) Frontend
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href=domain+'posts') Posts
        li.nav-item
          a.nav-link(href=domain+'categories') Categories
        li.nav-item
          a.nav-link(href=domain+'admin/contacts') Contacts
      
