mixin partners

  section.section-partners
    .container
      h2.section-title
          | Our Partners
    .partners-wrap
      .partners-logo.sumup
      .partners-logo.trivago
      .partners-logo.ebay
      .partners-logo.sofatutor
      .partners-logo.invision

  style.
    .partners-logo {
        display: inline-block;
        margin: 0 1rem;
        width: 150px;
        height: 40px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .sumup {
      background-image: url("https://digitalcareerinstitute.org/wp-content/uploads/2017/05/logo_sumup_lineal-1024x268.jpg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .trivago {
      background-image: url("https://digitalcareerinstitute.org/wp-content/uploads/2017/05/Trivago.svg_.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .ebay {
      background-image: url("https://digitalcareerinstitute.org/wp-content/uploads/2017/05/EBay_logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

     .sofatutor {
      background-image: url("https://digitalcareerinstitute.org/wp-content/uploads/2017/05/1024px-Sofatutor_logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .invision {
      background-image: url("https://digitalcareerinstitute.org/wp-content/uploads/2018/04/InVision-cmyk-2.jpg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }