mixin postlist(public)
  ul.list-group
    each post in posts
      li.list-group-item
        h2.mr-3=post.name
        p.mr-3=post.content
        div.mr-3=post.order
        form.d-flex.justify-content-between(method='POST', action='http://localhost:4000/posts/delete/'+post._id +'?_method=DELETE')
          a.btn.btn-outline-primary.mr-2(href="/posts/"+post._id) Show
          if !public
            .d-flex.align-items-center
              a.btn.btn-outline-primary.mr-2(href="/posts/edit/"+post._id) Edit
              button.btn.btn-outline-danger(type='submit') delete

