mixin testimonialsDevugees

  section.testimonials.section-testimonials
    .container
      .row
        .col-md-6.col-lg-5.text-left
          h5.section-subtitle
          h2.section-title
            | Devugees
          |         The Digital Career Institute operates the Devugees training program for refugees who are interested in technical qualifications for the German job market. We are convinced that Devugees will help integrate refugees more effectively into German society. In our opinion, education is the most important key to a successful life anywhere.        
          .testimonials-button-wrap
            a.btn.btn-primary.btn-lg.mt-5(href='https://www.digitalcareerinstitute.org/devugees/') More about Devugees
        .col-md-6.col-lg-7.video-img
          .video-placeholder
            a.popup-video(href='https://www.youtube.com/watch?v=5z2xhOng4Us', data-scr='https://www.youtube.com/watch?v=5z2xhOng4Us')
              span.video_icon
                i.fa.fa-play

  style.
    .video-img {
      background: url('https://www.digitalcareerinstitute.org/wp-content/uploads/2017/04/13585027_272721593085119_8828473191326822457_o.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
