mixin footer
  footer.site-footer(role='contentinfo')
    .footer-connect
      .container
        .footer-subscribe
          form#mc-embedded-subscribe-form(novalidate='', target='_blank', name='mc-embedded-subscribe-form', method='post', action='//devugees.us14.list-manage.com/subscribe/post?u=02d566f673a5a5b6ecdfe5255&id=fbb4553560')
            input#mce-EMAIL.subs_input(type='text', placeholder='Email address', name='EMAIL')
            button.btn.btn-primary Subscribe
    .site-info
      .container.container-footer
        .row
          .col-md-8.col-md-offset-2
            .row
              .col-xs-6.col-md-3
                h5 Company
                .menu-company-container
                  ul#menu-company.menu
                    li#menu-item-302.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-302
                      a(href='https://digitalcareerinstitute.org/en/about-us/') About us
                    li#menu-item-301.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-301
                      a(href='https://digitalcareerinstitute.org/en/jobs/') Jobs
                    li#menu-item-300.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-300
                      a(href='https://digitalcareerinstitute.org/en/faq/') FAQ
                    li#menu-item-303.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-303
                      a(href='https://digitalcareerinstitute.org/en/press/') Press
                    li#menu-item-313.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-313
                      a(href='https://digitalcareerinstitute.org/contact/') Contact
              .col-xs-6.col-md-3
                h5 Community
                .menu-community-container
                  ul#menu-community.menu
                    li#menu-item-961.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-961
                      a(href='https://digitalcareerinstitute.org/en/scholarship/') Scholarship
                    li#menu-item-962.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-962
                      a(href='https://digitalcareerinstitute.org/en/hire/') Hire your digital talents with DCI
                    li#menu-item-965.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-965
                      a(href='https://digitalcareerinstitute.org/en/stories/') Stories
              .col-xs-6.col-md-3
                h5 Courses
                .menu-courses-container
                  ul#menu-courses.menu
                    li#menu-item-309.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-309
                      a(href='https://digitalcareerinstitute.org/en/onetoone-coaching/') One to One Coaching
                    li#menu-item-308.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-308
                      a(href='https://digitalcareerinstitute.org/en/orientiation-course/') Orientation Course
                    li#menu-item-307.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-307
                      a(href='https://digitalcareerinstitute.org/en/courses/one-year-program/') Web Development Course
                    li#menu-item-2290.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-2290
                      a(href='https://digitalcareerinstitute.org/en/courses/digital-marketing-e-commerce/')
                        | Digital Marketing
                        | / E-Commerce
              .col-xs-6.col-md-3
                h5 Follow
                .menu-social-links-menue-container
                  ul#menu-social-links-menue.menu
                    li#menu-item-22.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-22
                      a(href='https://www.facebook.com/devugees') Facebook
                    li#menu-item-23.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-23
                      a(href='https://twitter.com/DevugeesOrg') Twitter
                    li#menu-item-21.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-21
                      a(href='https://medium.com/devugees') Medium
                    li#menu-item-24.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-24
                      a(href='https://www.youtube.com/channel/UCSM_3ldxjcclGTcXaJRBYTw') YouTube
    .footer-suf
      .container
        .row
          .col-md-8.col-md-offset-2
            p.last-line DCI Digital Career Institute
            ul.legal-links
              li#menu-item-310.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-310
                a(href='https://digitalcareerinstitute.org/en/disclaimer/') Disclaimer
              li#menu-item-311.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-311
                a(href='https://digitalcareerinstitute.org/en/imprint/') Imprint
              li#menu-item-1855.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1855
                a(href='https://digitalcareerinstitute.org/datenschutz/') Datenschutz
              li#menu-item-1909.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1909
                a(href='https://digitalcareerinstitute.org/en/data-privacy/') Data Privacy
