mixin partners
  section.section-partners
    .container.container-partners
      .section-title-area
        h5.section-subtitle
          | proudly presented
        h2.section-title
          | Our Partners
      .partners-wrap
        .partners-logo(style="background-image: url('https://digitalcareerinstitute.org/wp-content/uploads/2017/05/logo_sumup_lineal-1024x268.jpg')")
        .partners-logo(style="background-image: url('https://digitalcareerinstitute.org/wp-content/uploads/2017/05/Trivago.svg_.png')")
        .partners-logo(style="background-image: url('https://digitalcareerinstitute.org/wp-content/uploads/2017/05/EBay_logo.png')")
        .partners-logo(style="background-image: url('https://digitalcareerinstitute.org/wp-content/uploads/2017/05/1024px-Sofatutor_logo.png')")
        .partners-logo(style="background-image: url('https://digitalcareerinstitute.org/wp-content/uploads/2018/04/InVision-cmyk-2.jpg')")
