mixin partners

  section.section-partners
    .container
      h2.section-title
          | Our Partners
    .partners-wrap
      .partners-logo.sumup
      .partners-logo.trivago
      .partners-logo.ebay
      .partners-logo.sofatutor
      .partners-logo.invision

  