mixin quote

  .section-mission.text-center
    h2.mission-title
      p.quote The Digital Career Institute was born
      p.quote as an initiative to integrate refugees
      p.quote into digital jobs
