mixin statsCounter
  
  section.stats.section-counter
  .container-fluid
    .section-title-area
    h2.section-title Why Digital Career Institute
    .row.justify-content-center.align-center
      .col-md-3.col-sm-6.stats-item
        span.mbr-iconfont.mbri-users(media-simple='true')
        h3.count.counter.mbr-fonts-style.mbr-bold.display-2 100+
        h2.heading.mbr-card-title.mbr-fonts-style.display-5 Students
      .col-md-3.col-sm-6.stats-item.col-lg-3
        span.mbr-iconfont.mbri-rocket(media-simple='true')
        h3.count.counter.mbr-fonts-style.mbr-bold.display-2 15+
        h2.heading.mbr-card-title.mbr-fonts-style.display-5 Courses Started
      .col-md-3.col-sm-6.stats-item.col-lg-3
        span.mbr-iconfont.mbri-clock(media-simple='true')
        h3.count.counter.mbr-fonts-style.mbr-bold.display-2 80+
        h2.heading.mbr-card-title.mbr-fonts-style.display-5 Company tours
      .col-md-3.col-sm-6.stats-item.col-lg-3
        span.mbr-iconfont.mbri-magic-stick(media-simple='true')
        h3.count.counter.mbr-fonts-style.mbr-bold.display-2 40
        h2.heading.mbr-card-title.mbr-fonts-style.display-5 Locations
      .section-button-wrap
        a.btn.btn-primary.btn-lg.mt-5(href='categories', role='button') More about us

