mixin statsCounter
  section#stats.section-counter
    .container.container-counter
      .section-title-area
        h5.section-subtitle Start your digital career
        h2.section-title Why Digital Career Institute
      .row
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.n 300+
            .counter-title Students
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.n 30+
            .counter-title Courses Started
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.n 250+
            .counter-title Company tours
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.n 3
            .counter-title Locations
      .section-button-wrap
        a.btn.btn-primary(href='https://www.digitalcareerinstitute.org/en/about-us') More about us
