mixin subscribe
  form.text-center
    .wraper
      .form-group
        input.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
        small.form-text.text-muted We'll never share your email with anyone else.
      button.btn.btn-primary.btn-lg(type='submit') Subscribe

