mixin upcomingEvents
  section#events.section-counter
    .container.container-events
      .section-title-area
        h5.section-subtitle Come see us
        h2.section-title Upcoming Events
      .row
        .col-md-8.col-md-offset-2
          .event-item
            time.event-item-date
              span.event-month Oct
              span.event-day 30
            .event-item-body
              h3.event-item-title
                a(href='https://digitalcareerinstitute.org/events/how-to-become-a-web-developer-2018-10-30/')
                  | BERLIN: How
                  | to become a web developer
              p.event-item-start
                i.icon.fa.fa-clock-o
                |  Tuesday, 18:00 - 19:30
              p.event-item-start
                i.icon.fa.fa-map-marker
                |  Devugees – Digital Career Institute – Grünbergerstr. 54
              p
          .event-item
            time.event-item-date
              span.event-month Oct
              span.event-day 31
            .event-item-body
              h3.event-item-title
                a(href='https://digitalcareerinstitute.org/events/free-intro-tech-jobs-hamburg-2018-10-31/')
                  | HAMBURG: How
                  | to become a web developer
              p.event-item-start
                i.icon.fa.fa-clock-o
                |  Wednesday, 17:00 - 18:30
              p.event-item-start
                i.icon.fa.fa-map-marker
                |  DCI Campus Hamburg – Lange Reihe 14
              p
          .event-item
            time.event-item-date
              span.event-month Nov
              span.event-day 06
            .event-item-body
              h3.event-item-title
                a(href='https://digitalcareerinstitute.org/events/how-to-become-a-web-developer-2018-11-06/')
                  | BERLIN: How
                  | to become a web developer
              p.event-item-start
                i.icon.fa.fa-clock-o
                |  Tuesday, 18:00 - 19:30
              p.event-item-start
                i.icon.fa.fa-map-marker
                |  Devugees – Digital Career Institute – Grünbergerstr. 54
              p
