mixin coaching

  .jumbotron.jumbotron-fluid.text-center
    .container-fluid
      h1.display-4 Coaching
      p.mb-5
        | Learn digital skills with us to get the most fulfilling jobs.
    
    style.
      .jumbotron {
      width: 100%;
      }


      