mixin orientation
  .jumbotron.jumbotron-fluid.text-center
    .container-fluid
      h1=course.name
      hr.my-4
      p.mb-5
        | Learn digital skills with us to get the most fulfilling jobs.
    